<div class="container">
  <h1>
    Concepts
  </h1>
  <div class="listGroup">
    <span class="link" routerLink="/form-control">Form Control</span>
    <span class="link" routerLink="/form-group">Form Group</span>
    <span class="link" routerLink="/nested-form-group">Nested Form Group</span>
    <span class="link" routerLink="/form-array">Form Array</span>
    <span class="link" routerLink="/dynamic-form-array">Dynamic Form Array</span>
    <span class="link" routerLink="/array-of-groups">Array of Groups</span>
    <span class="link" routerLink="/file-input">File Input</span>
  </div>
</div>