<div class="container">
  <h1>Concepts</h1>
  <div class="listGroup">
    <span class="link" routerLink="/form-control">Form Control</span>
    <span class="link" routerLink="/form-group">Form Group</span>
    <span class="link" routerLink="/nested-form-group">Nested Form Group</span>
    <span class="link" routerLink="/form-array">Form Array</span>
    <span class="link" routerLink="/dynamic-form-array"
      >Dynamic Form Array</span
    >
    <span class="link" routerLink="/checkbox-group">Checkbox Group</span>
    <span class="link" routerLink="/array-of-groups">Array of Groups</span>
    <span class="link" routerLink="/custom-validation">Custom Validation</span>
    <span class="link" routerLink="/cross-field-validation"
      >Cross-field Validation</span
    >
    <span class="link" routerLink="/dynamic-validation"
      >Dynamic Validation</span
    >
    <span class="link" routerLink="/file-input">File Input</span>
    <span class="link" routerLink="/array-of-dates"
      >Array of Date, Time pickers</span
    >
  </div>
</div>
