.fileInputCustom {
  margin: 1em;
  display: grid;
  text-align: center;
}

.hidden {
  display: none;
}

.imagePreview {
  width: 300px;
  min-height: 150px;
  margin: 1em auto;
  display: grid;
  place-items: center;
  border-radius: 2px;
}

.borderDotted{
  border: 2px dashed hsl(0, 0%, 53%);
}

.profileImage {
  max-width: 300px;
  background-position: center;
  background-size: cover;
  display: none;
}

.customFileName{
  margin: 1em auto;
}
