<mat-toolbar color="primary">
  <button routerLink="" mat-icon-button aria-label="Home" title="Home">
    <mat-icon>home</mat-icon>
  </button>
  <button routerLink="/experiments" mat-icon-button aria-label="Experiments" title="Experiments">
    <mat-icon>science</mat-icon>
  </button>
  <span>Angular Forms</span>
  <span class="example-spacer"></span>
  <button mat-icon-button aria-label="GitHub">
    <a href="https://github.com/Pranay-Tej/angular-forms" target="_blank" title="GitHub">
      <img src="/assets/logo-github.svg" alt="GitHub">
    </a>
  </button>
</mat-toolbar>