<div class="container">
  <h1>Array of Groups</h1>
  <form (ngSubmit)="login()" class="loginForm" [formGroup]="loginForm">
    <div formArrayName="userList" class="userList">
      <div
        *ngFor="let user of userListFormArray.controls; let i = index"
        formGroupName="{{ i }}"
        class="user"
      >
        <mat-form-field appearance="fill">
          <mat-label>User {{i}} First Name</mat-label>
          <input
            name="firstName{{i}}"
            type="text"
            matInput
            placeholder="Sherlock"
            formControlName="firstName"
          />
          <mat-error
            *ngIf="
              userListFormArray.controls[i].get('firstName').errors?.required
            "
            >First Name is required</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>User {{i}} Last Name</mat-label>
          <input
            name="lastName{{i}}"
            type="text"
            matInput
            placeholder="Holmes"
            formControlName="lastName"
          />
          <mat-error
            *ngIf="
              userListFormArray.controls[i].get('lastName').errors?.required
            "
            >Last Name is required</mat-error
          >
        </mat-form-field>
        <button
          *ngIf="i !== 0 || userListFormArray.controls.length > 1"
          mat-icon-button
          color="warn"
          type="button"
          (click)="deleteUser(i)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <button mat-flat-button type="button" (click)="addUser()">
        <mat-icon>add</mat-icon>Add User
      </button>
    </div>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>
</div>
