h1{
  font-size: 2.5rem;
  margin: 0.5em;
}

.link{
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
  transition: all 200ms;
  padding: 0.5em 1em;
  box-shadow: 0px 0px 2px 0px hsl(0,0%,90%);
  cursor: pointer;
  border-radius: 3px;
}

.link:hover{
  /* text-decoration: underline; */
  /* color: rgb(66, 64, 145); */
  box-shadow: 0px 1px 5px 0px hsl(0,0%,70%), 0px 1px 10px 0px hsl(0,0%,80%);
}

.listGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experiments{
  display: flex;
  align-items: center;
  justify-content: center;
}